---
// Footer.astro - Common footer component for all dashboard pages
---

<footer class="dashboard-footer">
  <div class="row">
    <div class="col-md-6">
      <p>&copy; 2023 ImpulsTrip Inc. All rights reserved.</p>
    </div>
    <div class="col-md-6 text-end">
      <p>Admin Dashboard v0.1.0</p>
    </div>
  </div>
</footer>
